:host {
    position: fixed;
    inset: 0;
    background: linear-gradient(90deg, rgb(46, 44, 45),
            rgba(66, 64, 67, 1) 100%);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}