button {
    position: relative;
    border-radius: 50%;
    outline: none;
    border: 3px #090909 solid;
    background: linear-gradient(145deg, #171717, #444245);
    box-shadow: inset 2px 2px 0px #7d7c7e,
        inset -2px -2px 0px #1c1c1c;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

button > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: linear-gradient(-185deg, #131313, #444245);
    box-shadow: inset -2px -2px 0px #5e5e5e,
    inset 2px 2px 0px #1c1c1c;
}

.active span {
    color: var(--active-color);
    text-shadow: 0px 0px 15px #008ece;
}