<canvas ngModel #canvas></canvas>
<div class="player">
    <button-component baseType="flush">
        <span class="material-icons" style="font-size: 50px;">fast_rewind</span>
    </button-component>
    <button-component baseType="flush">
        <span class="material-icons" style="font-size: 50px;">play_arrow</span>
    </button-component>
    <button-component baseType="flush">
        <span class="material-icons" style="font-size: 50px; transform: rotate(180deg);">fast_rewind</span>
    </button-component>
    <rotated-button-component></rotated-button-component>
</div>