.pimpContainer {
    position: absolute;
    inset: 0;
    transform-origin: center;
    z-index: 2;    
}

.pimp {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--color);
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.active {
    background: var(--active-color);
}